footer {
  background-color: #e7d3e7;
  color: blueviolet;
  font-size: 19;
  font-weight: bold;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40px;
  margin-top: 50px; }

header .encabezado {
  background-color: #fff8ff;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 400px;
  padding-bottom: 20px; }

header .nombre-principal1 {
  flex: 1;
  color: blueviolet;
  font-size: 48;
  padding: 50px;
  margin: 5px 10px 10px 40px; }

header .icono-principal {
  flex: none;
  display: flex;
  width: 60%;
  padding: 0px;
  margin: 0px 10px 10px 55px; }

header .botones-web {
  flex: auto;
  padding: 5px;
  color: blueviolet;
  font-size: 24;
  display: flex;
  margin: 50px 50px 10px 10px; }

@media (max-width: 576px) {
  header {
    /* Index - Inicio */ }
    header .encabezado {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto; }
    header .main {
      display: flex;
      flex-direction: column;
      height: auto; }
    header .icono-principal {
      margin-left: 80px; }
    header .box-imagenes {
      display: flex;
      flex-direction: column;
      width: 50%; } }

main {
  background-color: #fff8ff; }
  main .contacto-texto {
    margin: auto;
    color: black;
    text-align: center;
    font-size: 20;
    font-weight: bold;
    margin-bottom: 50px;
    height: 150px; }
  main .Google-mapa {
    margin-left: 400px;
    display: inline-block;
    justify-content: left; }
  main .elementos-contacto {
    margin-left: 50px;
    display: inline-block;
    justify-content: right; }
  main .elementos-direccion img {
    width: 30px; }
  main .elementos-horario img {
    width: 30px; }
  main .elementos-wsp img {
    width: 30px; }
  main .elementos-email img {
    width: 30px; }
  @media (max-width: 576px) {
    main .Google-mapa {
      margin-left: 0px;
      width: 100%;
      padding: 50px 50px; }
    main .elementos-contacto {
      margin-left: 0px; } }

main {
  background-color: #fff8ff; }
  main .tarjeta-novedades {
    width: 1250px;
    margin: 50px;
    display: flex;
    align-items: center; }
  main .tarjeta-novedades img {
    width: 90%;
    border-radius: 15px; }
  main .novedades-titulo {
    margin: 25px; }
  main .novedades-parrafo {
    margin-left: 50px; }
  @media (max-width: 576px) {
    main .tarjeta-novedades {
      display: flex;
      flex-direction: column;
      width: 35%;
      padding: none;
      align-items: center;
      margin: none; }
    main .tarjeta-novedades img {
      width: 100%;
      border-radius: 0%; }
    main .novedades-titulo {
      margin: auto;
      text-align: center; }
    main .novedades-parrafo {
      margin: auto;
      text-align: center; } }

main {
  background-color: #fff8ff; }
  main .tarjeta-oferta {
    background-color: white;
    margin-left: 150px;
    border: 2px solid black;
    /* borde */
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    display: inline-block;
    margin-inline-start: 400px; }
  main .tarjeta-oferta img {
    width: 100%;
    border-radius: 8px; }
  main .tarjeta-oferta .precio-anulado {
    font-size: 20px; }
  main .tarjeta-oferta .precio-nuevo {
    font-size: 25px; }
  main .tarjeta-oferta button {
    background-color: rgba(227, 235, 124, 0.877);
    color: #0c0707;
    padding: 12px 20px;
    border-color: yellow; }
  @media (max-width: 576px) {
    main .tarjeta-oferta {
      margin-left: none;
      margin-inline-start: 40px;
      align-items: center; } }

main {
  background-color: #fff8ff; }
  main .tarjeta-album {
    background-color: white;
    margin-left: 120px;
    margin-bottom: 100px;
    border: 2px solid black;
    /* borde */
    border-radius: 8px;
    padding: 20px 20px;
    width: 400px;
    display: inline-block; }
  main .tarjeta-album img {
    width: 100%;
    border-radius: 8px; }
  main .tarjeta-album .precio {
    font-size: 20px; }
  main .tarjeta-album button {
    background-color: rgba(227, 235, 124, 0.877);
    color: #0c0707;
    padding: 20px 20px; }
  @media (max-width: 576px) {
    main .tarjeta-album {
      margin-left: 35px;
      width: 300px; } }

main {
  background-color: #fff8ff; }
  main .rsd-titulo {
    margin: auto;
    color: black;
    text-align: center;
    font-size: 32;
    font-weight: bold;
    margin-bottom: 25px; }
  main .rsd-parrafo {
    margin: auto;
    color: black;
    text-align: center;
    font-size: 16;
    font-weight: normal; }
  main .rsd-imagen {
    margin: auto;
    width: 10%; }
  @media (max-width: 576px) {
    main {
      /* RSD */ }
      main .rsd-parrafo {
        margin: 15px 15px 15px 15px;
        font-size: 14; }
      main .sn-imagen {
        display: none; } }

main {
  background-color: #fff8ff; }
  main .sn-titulo {
    margin: auto;
    color: black;
    text-align: center;
    font-size: 32;
    font-weight: bold;
    margin-bottom: 25px;
    height: 50px; }
  main .sn-parrafo {
    margin: auto;
    color: black;
    text-align: center;
    font-size: 25;
    font-weight: normal; }
  main .sn-imagen {
    margin: auto;
    margin-top: 25px;
    margin-left: 725px;
    position: flex;
    width: 25%;
    align-items: center; }

main {
  background-color: #fff8ff; }
  main .box-imagenes {
    display: flex;
    justify-content: center;
    margin-left: 15px; }
  main .imagenes-bienvenida {
    margin: auto;
    margin-left: 35px;
    width: 20%;
    padding: 10px;
    border-radius: 8px;
    transition: transform .5s; }
    main .imagenes-bienvenida:hover {
      transform: scale(1.5); }
  main .texto-bienvenida {
    margin: auto;
    color: black;
    text-align: center;
    font-size: 16;
    height: 100px; }
  main .texto-cierre {
    margin: 50px;
    color: black;
    text-align: center;
    font-size: 19;
    font-weight: bold;
    height: 100px; }
  @media (max-width: 576px) {
    main .box-imagenes {
      display: flex;
      flex-direction: column;
      width: 50%; }
    main .imagenes-bienvenida {
      width: 100%;
      margin-left: 80px; }
    main .texto-bienvenida {
      margin-bottom: 50px; }
    main .texto-cierre {
      margin: 15px 15px 15px 15px; } }
