/* Reset */
*{
    margin: 0;
    padding: 0;
}

/* Header */
.nombre-principal1{
    color: blueviolet;
    font-size: 48;
    padding: 5px;
    margin: 5px 10px 10px 15px;
    display: inline-block;
    justify-content: left;


}
.nombre-principal2{
    color: blueviolet;
    font-size: 48;
    padding: 5px;
    margin: 5px 10px 10px 15px;
    display: inline-block;
    justify-content: inherit;
}

.icono-principal{
    padding: 5px;
    width: 200px;
    display: inline-block;
    justify-content: right;
    margin: 0px 15px 10px 300px;
}

.botones-web{
    color: blueviolet;
    font-size: 24;
    display: inline-block;
    justify-content: center;
    margin: 5px 150px 100px 150px;
    
}

/* Index - Inicio */

.imagenes-bienvenida{
    margin: auto;
    margin-left: 35px;
    width: 20%;
    padding: 10px;
    border-radius: 8px;   
    transition: transform .5s;
}

.imagenes-bienvenida:hover{
    transform: scale(1.5);
}

.texto-bienvenida{
    margin: auto;
    color: black;
    text-align: center;
    font-size: 16;

}

.texto-cierre{
    margin: auto;
    color: black;
    text-align: center;
    font-size: 19;
    font-weight: bold;
}

/* Novedades */

.tarjeta-novedades{
    width: 1200px;
    margin: 250px;
    display: flex;
    align-items: center;    
        
}

.tarjeta-novedades img{
    width: 100%;
    border-radius: 15px;
    align-items: left;
}

.novedades-titulo{
    margin-left: 15px;
    
}
.novedades-parrafo{
    margin-left: 15px;
}



/* Ofertas */

.tarjeta-oferta{
    margin-left: 150px;
    border: 2px solid black; /* borde */
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    display: inline-table;
}

.tarjeta-oferta img{
    width: 100%;
    border-radius: 8px;
}

.tarjeta-oferta .precio-anulado{
    font-size: 20px; 
}

.tarjeta-oferta .precio-nuevo{
    font-size: 25px; 
}

.tarjeta-oferta button{
    background-color: rgba(227, 235, 124, 0.877);
    color: rgb(12, 7, 7);
    padding: 12px 20px;
}




/* RSD */

.rsd-titulo{
    margin: auto;
    color: black;
    text-align: center;
    font-size: 32;
    font-weight: bold;
    margin-bottom: 25px;
}
.rsd-parrafo{
    margin: auto;
    color: black;
    text-align: center;
    font-size: 16;
    font-weight: normal;
}
.rsd-imagen{
    margin: auto;
    width: 10%;
    padding: 10px;
}



/* Sobre Nosotros */

.sn-titulo{
    margin: auto;
    color: black;
    text-align: center;
    font-size: 32;
    font-weight: bold;
    margin-bottom: 25px;
}
.sn-parrafo{
    margin: auto;
    color: black;
    text-align: center;
    font-size: 25;
    font-weight: normal;
}

.sn-imagen{

    margin: auto;
    margin-top: 25px;
    margin-left: 725px;
    position: flex;
    width: 25%;
    align-items: center;
}


/* Contacto */

.contacto-texto{
    margin: auto;
    color: black;
    text-align: center;
    font-size: 20;
    font-weight: bold;
    margin-bottom: 50px;
}

.Google-mapa{
    margin-left: 200px;
    display: inline-block;
    justify-content: left;
}

.elementos-contacto{
    margin-left: 50px;
    display: inline-block;
    justify-content: right;
}

.elementos-direccion img{
    width: 30px;
}

.elementos-horario img{
    width: 30px;
}

.elementos-wsp img{
    width: 30px;
}

.elementos-email img{
    width: 30px;
}



/* Tarjetas Albumnes */
.tarjeta-album{
    border: 2px solid black; /* borde */
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    display: inline-table;
}

.tarjeta-album img{
    width: 100%;
    border-radius: 8px;
}

.tarjeta-album .precio{
    font-size: 20px; 
}

.tarjeta-album button{
    background-color: rgba(227, 235, 124, 0.877);
    color: rgb(12, 7, 7);
    padding: 12px 20px;
}





/* Footer */

.footer{
    color: blueviolet;
    font-size: 19;
    font-weight: bold;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}