main{
    background-color: rgb(255, 248, 255);
    .tarjeta-novedades{
        width: 1250px;
        margin: 50px;
        display: flex;
        align-items: center;    
            
    }
    
    .tarjeta-novedades img{
        width: 90%;
        border-radius: 15px;
        
    }
    
    .novedades-titulo{
        margin: 25px 
        
    }
    .novedades-parrafo{
        margin-left: 50px;
    }
    @media (max-width: 576px){
        
        .tarjeta-novedades{
                display: flex;
                flex-direction: column;
                width: 35%;
                padding: none;
                align-items: center;
                margin: none;
            }
        .tarjeta-novedades img{
            width: 100%;
            border-radius: 0%;
        }
        .novedades-titulo{
            margin: auto;
            text-align: center;
        }
        .novedades-parrafo{
            margin: auto;
            text-align: center;
        }
    }
}