main{
    .tarjeta-album{
        border: 2px solid black; /* borde */
        border-radius: 8px;
        padding: 20px;
        width: 300px;
        display: inline-table;
    }
    
    .tarjeta-album img{
        width: 100%;
        border-radius: 8px;
    }
    
    .tarjeta-album .precio{
        font-size: 20px; 
    }
    
    .tarjeta-album button{
        background-color: rgba(227, 235, 124, 0.877);
        color: rgb(12, 7, 7);
        padding: 12px 20px;
    }
}