main{
    .rsd-titulo{
        margin: auto;
        color: black;
        text-align: center;
        font-size: 32;
        font-weight: bold;
        margin-bottom: 25px;
    }
    .rsd-parrafo{
        margin: auto;
        color: black;
        text-align: center;
        font-size: 16;
        font-weight: normal;
    }
    .rsd-imagen{
        margin: auto;
        width: 10%;
        padding: 10px;
    }



}