main{
    background-color: rgb(255, 248, 255);
    .sn-titulo{
        margin: auto;
        color: black;
        text-align: center;
        font-size: 32;
        font-weight: bold;
        margin-bottom: 25px;
        height: 50px;
    }
    .sn-parrafo{
        margin: auto;
        color: black;
        text-align: center;
        font-size: 25;
        font-weight: normal;    
    }
    
    .sn-imagen{
    
        margin: auto;
        margin-top: 25px;
        margin-left: 725px;
        position: flex;
        width: 25%;
        align-items: center;
    }

}