header{
    .encabezado{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 400px;
        
    }
    .nombre-principal1{
        flex: 1;
        color: blueviolet;
        font-size: 48;
        padding: 50px;
        margin: 5px 10px 10px 40px;
        
    
    
    }
    
    .icono-principal{
        flex: none;
        display: flex;
        width: 60%;
        padding: 0px;
        margin: 0px 10px 10px 55px;
    }
    
    .botones-web{
        flex: auto;
        padding: 5px;
        color: blueviolet;
        font-size: 24;
        display: flex;
        margin: 50px 50px 10px 10px;
        
    }
    @media (max-width: 576px){

        /* Index - Inicio */
        .encabezado{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
        }
    
        .main{
            display: flex;
            flex-direction: column;
            height: auto;
        }
        .icono-principal{
            margin-left: 80px;
        }
        .box-imagenes{
            display: flex;
            flex-direction: column;        
            width: 50%;
        }
    
        
    }
}
